#main {
	display:none
}
body,html {
	overflow:hidden
}
#mainlNoscript {
	background:rgba(0,0,0,0.85);
	padding:0;
	position:fixed;
	bottom:0;
	left:0;
	top:-100px;
	right:0;
	z-index:1000;
	opacity:1;
	visibility:visible;
	height:auto;
}
#mainlNoscript svg {
	width:100px; height:100px
}
#mainlNoscript svg path {
	fill:#fff
}
#mainlNoscript .isiNoscript{
	background:#008c5f;color:#fff;
	position:absolute;
	text-align:center;
	padding:0 30px 30px 30px;
	margin:auto;
	top:30%;
	left:0;
	right:0;
	font-size:1.5rem;
	font-weight:400;
	line-height:1.5em;
	font-family:monospace;
	max-width:670px;
	box-shadow:0 20px 10px -10px rgba(0,0,0,0.15);
	border:15px solid rgba(0,0,0,.07);
	overflow:hidden;
	transition:all .6s cubic-bezier(.25,.8,.25,1); -webkit-transform:translateZ(0);
	transform:translateZ(0);
	backface-visibility:visible;
	transition:all .2s ease-in-out,visibility 0s;
	transform-origin:bottom center;
	pointer-events:auto;
	transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
	opacity:1;
	animation:ignielWobble .5s;
	-moz-animation: ignielWobble .5s;
	-webkit-animation:ignielWobble .5s;
	-o-animation:ignielWobble .5s}
#mainlNoscript .isiNoscript:hover{
	box-shadow:0 20px 10px -10px rgba(0,0,0,0.2);
}
#mainlNoscript .isiNoscript h4, #mainlNoscript .isiNoscript .judul
{
	display:inline-block;background:rgba(0,0,0,.07);
	padding:5px 25px 15px 25px;
	font-size:2.2rem;
	font-weight:600;
	margin-bottom:20px
}
#mainlNoscript .isiNoscript .footer
{
	display:inline-block;background:rgba(0,0,0,.07);
	padding:10px 25px 15px 25px;
	font-size:1rem;
	font-weight:600;
	margin-top:20px
}